<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{projectName}}</title>
  <meta name="description" content="{{projectName}}">
  <meta name="author" content="{{companyName}}">

  <link rel="stylesheet" href="styles.css">
</head>