<div class="os-search">
	<form>
		<fieldset>
			<input type="text" placeholder="buscar" class="os-search__input">
			<button type="button" class="os-search__btn-close">
				<i class="material-icons">clear</i>
			</button>
			<button type="button" class="os-search__btn-search">
				<i class="material-icons">search</i>
			</button>
		</fieldset>
	</form>
</div>