/* Fonts */

// Roboto
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'), url(fonts/ibm/IBMPlexSans-SemiBold.ttf);
}

// Material Icons - https://material.io/tools/icons/?style=baseline */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/material/material-icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: 0;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: 		antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: 						optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: 		grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  &.md-16 { 									font-size: 16px; }
  &.md-20 { 									font-size: 20px; }
	&.md-24 { 									font-size: 24px; }
	&.md-36 { 									font-size: 36px; }
	&.md-48 { 									font-size: 48px; }
	&.md-56 { 									font-size: 56px; }
	&.md-100 { 									font-size: 100px; }

	&.border {
		padding:									5px;
	}
}