/* OS Variables */

// Grid & Spacing
$desktop-width: 1116px;

// Colors
$blue-dark: #152935;
$blue: #3D70B2;
$cyan: #5AAAFA;
$white: #fff;
$black: #152935;
$gray-background: rgba(85, 150, 230, 0.1);

// Text
$default-font: 'Roboto';
$default-size: 14px;

// Text Sizes
$medium-text: 18px;